@import "tailwindcss";

/* 1. Ativa a troca de tema manual pelo nosso botão */
@custom-variant dark (&:where(.dark, .dark *));

/* 2. Força o navegador a reconhecer as cores padrão do sistema */
:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 40s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}